<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalcNYC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E0712901F4FCF9D0020F927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E0712A71F4FCF9D0020F927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E0712B21F4FCF9D0020F927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
